@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1050px) {
  html {
    font-size: 45%;
  }
}

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  /* display: flex ;
  align-items: center;
  gap: 35rem; */
  display: grid;
  grid-template-columns: minmax(min-content, 48.5rem) 1fr;
}
@media (max-width: 576px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
  }
}

/* 	<576px
    ≥768px 
    ≥992px
    ≥1200px
    ≥1400px*/
@keyframes movecardFront {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
.cards {
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* position: relative;  */
}
@media (max-width: 576px) {
  .cards {
    width: 100%;
    height: 100%;
  }
}

.card-front {
  height: 24.5rem;
  background-image: url(../images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* position: absolute;
  top: 30%;
  left: 25%;    
  width: 100%; */
  transform: translate(30%, 70%);
  padding: 2.6rem 4rem 2.6rem 3.2rem;
}
@media (max-width: 576px) {
  .card-front {
    position: relative;
    z-index: 20;
    padding: 1.7rem 2.7rem 2rem 2rem;
    transform: translate(5%, 75%);
    width: 100%;
  }
}
@media (max-width: 576px) {
  .card-front__img {
    width: 5.4rem;
    height: 3rem;
  }
}
@media (max-width: 576px) {
  .card-front__img img {
    width: 100%;
    height: 100%;
  }
}
.card-front__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  height: 100%;
}
.card-front__name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .card-front__name {
    font-size: 0.9rem;
    line-height: 1.1rem;
    letter-spacing: 1.2px;
  }
}
.card-front__validity {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 11rem;
}
@media (max-width: 576px) {
  .card-front__validity {
    font-size: 0.9rem;
    line-height: 1.1rem;
    letter-spacing: 1.2px;
    margin-right: 1.5rem;
  }
}

.card-back {
  background-image: url(../images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 24.5rem;
  transform: translate(50%, 80%);
  position: relative;
}
@media (max-width: 576px) {
  .card-back {
    width: 100%;
    transform: translate(35%, -80%);
  }
}
.card-back p {
  position: absolute;
  top: 48%;
  right: 20%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .card-back p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.1rem;
    letter-spacing: 1.2px;
    top: 45%;
    right: 50%;
  }
}

.heading-2 {
  grid-column: 1/-1;
  color: #ffffff;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 3.4px;
  font-weight: 500;
  align-self: end;
}
@media (max-width: 576px) {
  .heading-2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 2.2px;
  }
}

#input-name,
#input-number,
#input-date-1,
#input-date-2,
#input-cvc {
  display: block;
  width: 100%;
  margin-top: 0.9rem;
  padding: 1rem;
  border: 1px solid #DFDEE0;
  border-radius: 0.8rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
  color: #21092F;
  mix-blend-mode: normal;
  opacity: 0.3;
}
#input-name:focus,
#input-number:focus,
#input-date-1:focus,
#input-date-2:focus,
#input-cvc:focus {
  outline: 2px solid rgb(0, 60, 255);
}
#input-name:invalid,
#input-number:invalid,
#input-date-1:invalid,
#input-date-2:invalid,
#input-cvc:invalid {
  border: 2px solid red;
  outline: none;
}

#input-date-1,
#input-date-2 {
  margin-right: 1.2rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 19rem));
  row-gap: 2.6rem;
  align-self: center;
  justify-content: center;
}
.form__name {
  grid-column: 1/-1;
}
.form__number {
  grid-column: 1/-1;
}
.form__date {
  grid-column: 1/2;
}
.form__cvc {
  grid-column: 2/-1;
  grid-row: 3/4;
}
.form__label {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0c2f09;
}

.inputs {
  grid-column: 1/2;
  display: flex;
}

.btn {
  grid-column: 1/-1;
}

.complete {
  display: grid;
  grid-template-columns: minmax(0, 38rem);
  align-self: center;
  justify-content: center;
  row-gap: 3.5rem;
}
.complete__img, .complete__div {
  text-align: center;
  justify-self: center;
}
.complete__thank {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  color: #21092F;
  margin-bottom: 1.6rem;
}
.complete__text {
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #8f8694;
  font-weight: 500;
}

.btn {
  padding: 1.5rem 15.7rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #21092F;
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
  font-family: inherit;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 1;
}

.error {
  display: inline-block;
  padding-top: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #FF5050;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
