.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.footer{
    grid-column: 3 / -1;    
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}