

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

    @media(max-width:1400px){
        font-size: 50%;
    }

    @media(max-width:1050px){
        font-size: 45%;
    }
}

body{
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;    
}

.container{
    /* display: flex ;
    align-items: center;
    gap: 35rem; */
    display: grid;
    grid-template-columns: minmax(min-content, 48.5rem) 1fr;

    @media(max-width:576px){
        height: 100vh;
        grid-template-columns: minmax(37.5rem, 1fr);

    }
}

//Breakpoints bootstrap 
/* 	<576px
    ≥768px 
    ≥992px
    ≥1200px
    ≥1400px*/